<html layout:decorate="~{layouts/backend}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>OneUI - Istart Guruhlar</title>
</head>

<body>

<!-- Page Content -->
<div layout:fragment="content">
    <!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header">
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt d-flex justify-content-between">
                    <li class="breadcrumb-item"></li>
                    <li class="breadcrumb-item" aria-current="page">
                        <a class="link-fx" href="" style="font-size: 24px">Kafedra fanlari va ularning jami yuklama soatlari</a>
                    </li>
                </ol>
            </nav>
            <div class="block-options">
                <!--<div class="d-inline-block dropdown">-->
                <a class="btn-shadow btn btn-info" href="/loads/list-by-subjects/create.do">
                    <span class="btn-icon-wrapper pr-2 opacity-7"> <i class="fa fa-plus"></i> </span>
                    Qo'shish
                </a>

                <!--</div>-->
            </div>
        </div>
        <div class="block-content block-content-full">

            <table id="loadBySubject" class="table table-bordered table-hover table-striped table-vcenter">

                <thead>
                <tr>
                    <th style="min-width: 400px">Fan nomi</th>
                    <th style="min-width: 200px">Jami soat</th>
                </tr>
                </thead>
                <tbody id="myTbody">

                </tbody>
            </table>
        </div>
    </div>
    <!-- END Dynamic Table Full -->
</div>
<!-- END Page Content -->

<!-- load List JS -->
<section layout:fragment="scripts">
    <script type="application/javascript" th:src="@{/js/loads/loadsBySubjects.js}"></script>
</section>

</body>
</html>
