<html layout:decorate="~{layouts/backend}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>Guruhlar</title>
</head>

<style>
    /*th{*/
        /*padding: 8px !important;*/
    /*}*/
    /*td{*/
        /*padding-left: 8px !important;*/
        /*max-width: fit-content;*/
    /*}*/
</style>

<body>

<!-- Page Content -->
<div layout:fragment="content">
    <!-- Dynamic Table Full -->
    <div class="block">
        <div class="block-header">
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <h3>Guruhlar ro'yxati</h3>
            </nav>


            <div class="block-options">
                <!--<div class="d-inline-block dropdown">-->
                <a class="btn-shadow btn btn-info" href="/groups/create.do">
                    <span class="btn-icon-wrapper pr-2 opacity-7"> <i class="fa fa-plus"></i> </span>
                    Qo'shish
                </a>

                <!--</div>-->
            </div>
        </div>
        <div class="block-content block-content-full" >

            <table id="groupTable" class="table table-bordered table-hover table-striped table-vcenter">

                <thead>
                <tr>
                    <th>Guruh nomi</th>
                    <th>Kirgan yili (kursi)</th>
                    <th>Yo'nalishi</th>
                    <th>Ta'lim turi</th>
                    <th>Talabalar soni</th>
                    <th>Amallar</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
    <!-- END Dynamic Table Full -->
</div>
<!-- END Page Content -->

<!-- Group List JS -->
<section layout:fragment="scripts">
    <script type="application/javascript" th:src="@{/js/groups/groups.js}"></script>
</section>

</body>
</html>
