<html layout:decorate="~{layouts/backend}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <title>OneUI - Fanni tahrirlash</title>
</head>

<body>

<!-- Page Content -->
<div layout:fragment="content">
    <!-- Form Submission in Options -->
    <div class="row">
        <div class="col-md-12">
            <form class="" th:action="@{/distributions/edit.do}" th:object="${distribution}" method="post">
                <div class="block">
                    <div class="block-header block-header-default">
                        <h3 class="block-title"> Fanni tahrirlash </h3>
                        <div class="block-options">
                            <button type="submit" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-primary pull-right">
                                <i class="pe-7s-diskette btn-icon-wrapper"></i> Saqlash </button>

                            <a href="/distributions/list.do"class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-warning pull-right"><i
                                    class="pe-7s-next-2 btn-icon-wrapper"> </i> Orqaga
                            </a>
                        </div>
                    </div>

                    <div class="block-content">
                        <div class="row justify-content-center py-sm-3 py-md-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="distributionUser" class="">O'qituvchi tanlang</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select th:field="*{distributionUser.id}" class="mb-2 form-control" id="distributionUser">
                                                <option th:each="u : ${teachers}" th:value="${u.id}" th:text="${u.fullName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="distributionSubject" class="">Fan tanlang</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select th:field="*{distributionSubject.id}" class="mb-2 form-control" id="distributionSubject">
                                                <option th:each="u : ${subjects}" th:value="${u.id}" th:text="${u.subjectName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="distributionGroup" class="">Guruh tanlang</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select th:field="*{distributionGroup.id}" class="mb-2 form-control" id="distributionGroup">
                                                <option th:each="u : ${groups}" th:value="${u.id}" th:text="${u.groupName}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="distributionLessonType" class="">Mashg'ulot turi</label>
                                        </div>
                                        <div class="col-md-9">
                                            <select th:field="*{distributionLessonType.id}" class="mb-2 form-control" id="distributionLessonType">
                                                <option th:each="u : ${ltypes}" th:value="${u.id}" th:text="${u.lessonTypeName}"></option>
                                            </select>
                                            <em th:if="${#fields.hasErrors('distributionLessonType')}" class="error invalid-feedback" th:errors="*{distributionLessonType}">Mashg'ulot turida xatolik!</em>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label for="subjectHour" class="">Soat</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="form-control" placeholder="Soat" th:field="*{subjectHour}" type="number" id="subjectHour" required>
                                        </div>
                                        <em th:if="${#fields.hasErrors('subjectHour')}" class="error invalid-feedback" th:errors="*{subjectHour}">Taqsimlangan soatni kiriting!</em>
                                        <p id="messageNumber"></p>
                                    </div>
                                </div>

                                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"
                                   class="error invalid-feedback">
                                    Global
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}">
                <!--                <input type="hidden" th:field="*{distributionName}">-->
            </form>
        </div>


    </div>
    <!-- END Form Submission in Options -->


    <!--Add photo to user profile-->
    <!--    <div class="modal fade" id="addTeacherPhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--        <div class="modal-dialog" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="exampleModalLabel">Загрузит фото пользователь</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">-->
    <!--                        <span aria-hidden="true">×</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <form id="teacherImageForm" method="post"  enctype="multipart/form-data" class="">-->
    <!--                    <div class="modal-body">-->
    <!--                        <div class="form-row">-->
    <!--                            <div class="col-md-12">-->
    <!--                                <div class="position-relative form-group">-->
    <!--                                    <div class="input-group">-->
    <!--                                        <div class="input-group-prepend">-->
    <!--                                            <span class="input-group-text">Имя файла</span></div>-->
    <!--                                        <input id="fileNameModal" name="fileNameModal" type="text" th:value="${fileName}" placeholder="Имя файла" class="form-control"/>-->
    <!--                                    </div>-->
    <!--                                </div>-->
    <!--                                <div class="position-relative form-group">-->
    <!--                                    <label for="teacherImage" class="" style="font-weight: bold">Фото</label>-->
    <!--                                    <input id="teacherImage" class="form-control-file" type="file" name="file">-->
    <!--                                    <small class="form-text text-muted"> (Файл формат должен быть рисунком. "PNG,JPEG,JPG,GIF,BMP")</small>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <input name="id" type="hidden" th:value="${distribution.id}"/>-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <div class="form-row">-->
    <!--                            <div class="col-md-12">-->
    <!--                                <button id="uploadTeacherImage" type="submit" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-primary"><i class="pe-7s-diskette btn-icon-wrapper"></i> Загрузить фото</button>-->
    <!--                                <button type="button" class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-warning pull-right" data-dismiss="modal">Закрыт</button>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<!-- END Page Content -->


<!-- User Edit JS -->
<section layout:fragment="scripts">
    <script type="application/javascript" th:src="@{/js/distributions/edit.js}"></script>
    <script type="application/javascript" th:src="@{/js/distributions/distributions.js}"></script>
</section>


</body>
</html>
